:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --secondary-accent-color: #FFF;
}
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body {
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
    margin: 0px;
}
/* Header */
.header {
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}
.logo {
    display: inline-block;
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: raleway, sens-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    }

.logo .web {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav {
    display: flex;
    margin-left: 93px;  
}
.site-nav .item {
    margin-right: 50px;
}
.site-nav .item:last-child {
    margin-right: 0px;
}
.header-contacts .item {
    margin-right: 30px;
}
.header-contacts .item:last-child {
    margin-right: 0px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-adress .link:hover,
.footer-adress .link:focus {
    color: var(--accent-color)
  }

.link svg {
    margin-right: 10px;
}

.site-nav .link.current {
    color: var(--accent-color)
}
.header-contacts .link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: auto;
    align-items: center;
}
/* задання кольору іконкам в хедері */
.header-icons {
    fill: var(--secondary-text-color);
 }
 /* задання розмірів іконкам */
.header-icons.tel {
    width: 16px;
    height: 24px;
}
.header-icons.mail {
    width: 16px;
    height: 17px;
}
/* задання кольору при ховері і фокусі іконки */
.link:hover .header-icons,
.link:focus .header-icons {
    fill: var(--accent-color);
}
/* для вирівнювання іконки з текстом в хедері */
.link.for-icons {
    display: flex;
    align-items: center;
}

/* Main */
.hero {
    color: var(--secondary-accent-color);
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;
}

.hero-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
    font-family: roboto, sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    width: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border-style: hidden;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

.main-flex {
    display: flex;
    justify-content: space-between;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
      }
.main-section {
    background-color: #FFF;
}
.main-ourteam {
    background-color: #F5F4FA;
}
.main-section h2,
.main-ourteam h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.main-section .invisible-title {
    margin-bottom: 0px;
    font-size: 0px;
}
.main-section p {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

 .main-section-li h3{
    margin-bottom: 10px;
}
.main-section h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
}
.main-ourteam h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.main-ourteam p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    }
.cards {
    background-color: #fff;
    text-align: center;
    padding-bottom: 30px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cards img,
.main-flex img {
    display: block;
}
.cards h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.cards p {
    margin-bottom: 16px;
}
.icons-list {
    display: flex;
    padding: 0;
    justify-content: center;
}

.cards-icon {
    fill: #AFB1B8;
}
.cards-link-icon {
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color)
}
.cards-link-icon:hover,
.cards-link-icon:focus {
    background-color: var(--accent-color)
}
.shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.cards-link-icon:hover .cards-icon {
    fill: var(--secondary-accent-color)
}
/* відступи між іконками картки */
.icons-list li {
    margin-right: 10px;
}

.icons-list li:last-child {
    margin-right: 0px;
}
/* Footer */
.logo .studio {
    color: var(--secondary-accent-color);

}
.page-footer .logo {
    margin-bottom: 20px;
}

.footer-adress .adress {
    text-decoration: none;
    color: var(--secondary-accent-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-adress a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    
}

.footer-adress li{
    margin-bottom: 9px;
    
}
.footer-adress .footer-adress-item:last-child {
    margin-bottom: 0px;
}
.page-footer {
    color: var(--secondary-accent-color);
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* для позиціонування двох div в футері */
.footer-flex    {
    display: flex;
    align-items: baseline;
}
/* для позиціонування всіх іконок в футері */
.joinus-icons {
    display: flex;
    margin: 0;
    padding: 0;
}
.footer-middle p {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
  
}
.joinus {
    display: inline-block;
    margin-left: 70px;
}
.joinus p {
    margin-bottom: 20px;
}
 .footer-link-icon {
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
 }
.footer-icon {
    fill: var(--secondary-accent-color);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: var(--accent-color)
}
/* відступи між іконками футера */
.joinus-icons li{
    margin-right: 10px;
}

.joinus-icons li:last-child {
    margin-right: 0px;
}



/* Portfolio */

.portfolio-section {
    background-color: #FFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.invisible-title {
    font-size: 0px;
    color: transparent;

}

.portfolio-section p {
    color: var(--secondary-text-color);
}
.portfolio-section .portfolio-button {
    background-color: #F5F4FA;
} 
.portfolio-section .portfolio-button:hover,
.portfolio-section .portfolio-button:focus {
    color: var(--secondary-accent-color);
    background-color: var(--accent-color);
}
.portfolio-button {
    display: inline-block;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border-style: hidden;
}

.button-list li {
    margin-right: 8px;
}
.button-list li:last-child {
    margin-right: 0px;
}

.portfolio-text {
    display: flex;
    flex-wrap: wrap;
    }
.li-flex    {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.li-flex:nth-child(3n) {
    margin-right: 0px;
}
.li-flex:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.portfolio-text h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text p {
    font-size: 16px;
    line-height: 1.88;
    }

.under-img {
    padding: 20px 24px;
    
    border-color: #eeeeee;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;   
    border-left-style: solid;
    border-left-width: 1px;
}
.li-flex > img {
    display: block;
}
